.banner {
    background: url('images/fin-exterior2.jpg');
}

.exterior-banner-msg {
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 80vh;
    display: grid;
    place-content: center;
}

.exterior-banner-msg .cta {
    background-color: #4946fc;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 1rem;
    margin-top: 3rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta a {
    color: #fff;
    text-decoration: none;
}

.exterior-banner-msg .cta:hover {
    background: #628bfc;
}