.banner {
    background: url('images/fin-exterior2.jpg');
}

.exterior-banner-msg {
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 80vh;
    display: grid;
    place-content: center;
}

.exterior-banner-msg .cta {
    background-color: #4946fc;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 1rem;
    margin-top: 3rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta a {
    color: #fff;
    text-decoration: none;
}

.exterior-banner-msg .cta:hover {
    background: #628bfc;
}

.main-body {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #222222;
}

.main-body h1 {
    text-align: center;
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 700;
    margin-bottom: 2rem;
}

.main-body h2 {
    font-size: clamp(1.5rem, 3.5rem, 2rem);
    text-align: left;
    margin-top: 1.5rem;
    
}

.main-body p {
    font-size: 1rem;
    line-height: 1.5;
}