.banner {
    background: url('images/interior-wall2.jpg');
    width: 100%;
}

.interior-banner-msg {
    width: 100vw;
    height: inherit;
    background: rgba(0, 0, 0, 0.6);
    display: grid;
    place-content: center;
}

.main-content {
    width: 100%;
    background: #e6e5e591;
}

.main-content h1, .main-content h2 {
    text-align: center;
    font-size: clamp(2rem, 5vw, 3rem);
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-weight: 700;
    color: #222222;
}

.main-content h2 {
    font-size: clamp(1.5rem, 3.5rem, 2rem);
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.main-content p, .main-content ul {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #222222;
    font-size: 1rem;
    line-height: 1.5;
}

.main-content ul li {
    padding-bottom: 1rem;
}

.main-content a {
    text-decoration: none;
    color: #9c0dd4;
}

.cta {
    background-color: #050430;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10%;
}

.cta a {
    color: #fff;
}

.cta:hover {
    background-color: #333;
}