html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f5f5f5;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 100;
}

.navbar-toggle {
    display: none;
}

.navbar .logo {
    display: flex;
    align-items: center;
    height: 80%;
}

.navbar .logo img {
    height: auto;
    width: 80px;
}

.navbar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    max-width: 400px;
    list-style: none;
    gap: 1.5rem;
}

.navbar-menu li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
    border-radius: 20px;
    border: 2px solid transparent;
    padding: 2px 20px;
}

.navbar-menu li a:hover,
.navbar-menu li a.active {
    color: #050430;
    background-color: #888888;
    border: 2px solid #050430;
}

.navbar-toggle {
    display: none;
    /* flex-direction: column; */
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 10px;
}

.navbar-toggle span {
    height: 3px;
    width: 25px;
    background: #333;
    margin: 4px 0;
    border-radius: 2px;
    transition: all 0.3s ease;
    display: block;
}

/* Responsive Styles */
@media (max-width: 880px) {
    .navbar {
        /* padding: 15px 5%; */
        backdrop-filter: blur(10px);
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100vh;
        padding: 3rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        background: rgba(255, 255, 255, 0.9);
        transition: all 0.3s ease;
        z-index: 1000;
    }

    .navbar-menu.active {
        display: flex;
        z-index: 1000;
    }

    .navbar-menu li {
        margin: 15px 0;
    }

    .navbar-toggle {
        display: block;
        z-index: 1001;
    }
}

/*main body*/

.banner {
    height: 80vh;
    width: 100%;
    background: url('images/banner_img.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 2rem;
    padding: 0 20px;
}

.banner-msg {
    background: rgba(0, 0, 0, 0.75);
    padding: 3rem 2rem;
    border-radius: 10px;
    height: 50%;
    width: auto;
    backdrop-filter: blur(15px);
}

.banner-head {
    font-size: clamp(2rem, 5vw, 3rem);
    margin-bottom: 1rem;
    font-weight: 700;
}

.banner-text {
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-weight: 400;
    line-height: 1.5rem;
}